<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Rawle's Movie Quote Database</h1>
    <h4>"AY, I'm walkin' here!"</h4>
    <a href="/quotes/new"><button>Add a new quote!</button></a>

    <div class="quoteCard">
        <% for (quote of quotes) { %>
            <a href="quotes/:<%=quote._id%>">
                <div>
                    <h3>
                "<%=quote.quote%>"
                    </h3>
                </div>
            </a>
   <%     } %> 
    </div>
    
</body>
</html>