<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- JQuery -->
        <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"
      ></script>
    
      <!-- OUR CSS AND JS -->
      <link rel="stylesheet" href="/index.css" />
      <script src="/app.js" defer></script>
        <title>Rawle's Marvelous Movie Quotes</title>
    </head>
<body>
    <div class="sidebar">
        <div class="searchbar">
        <input type="text" placeholder="Search">
        </div>
        <div class="favorites">
            Favorite Quotes:
        </div>
    </div>
  
    <div class="container">
         
            <h1>Rawle's Movie Quote Database</h1>

            <h4><img src="https://media.tenor.com/0o8TAJDGJcMAAAAC/midnight-cowboy-dustin-hoffman.gif"></h4>

            <a href="/quotes/new"><button class="add">Add a new quote!</button></a>
        
            <div class="quoteCards">
                <% for (quote of quotes) { %>
                    <div class="card"><a href="quotes/<%=quote._id%>">
                        
                            <h3>
                        "<%=quote.quote%>"
                            </h3>
                            
                    </a>
                    <form action="/quotes/<%=quote.id%>?_method=DELETE" method="POST">
                        <button type="submit" name="delete" style="padding: 0; border: none;" class="trashbutton">
                            <img src="https://cdn-icons-png.flaticon.com/512/2891/2891491.png" class="trash" />
                          </button>
                    </form>
                </div>
           <%     } %> 
                    
            </div>
        
    </div>

    
</body>
</html>