<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head.ejs')%>

<body>
<h2>
    Add your favorite quote's information below!
</h2>

   <form action="/quotes" method="post">

    <input type="text" name="quote" placeholder="Quote Text"><br><br>
    <input type="text" name="character" placeholder="Character"><br><br>
    <input type="text" name="movie" placeholder="Movie"><br><br>
    <input type="number" name="year" placeholder="Release Year"><br><br>
    <input type="text" name="actor" placeholder="Actor/Actress"><br><br>

    <input type="submit" value="Add Movie Quote!"><br><br>

   </form>
    <a href="/quotes"><button>Back to Quotes</button></a>
</body>
</html>